@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
}
.attribution{
	font-size: 11px; text-align: center;
}
.attribution a{
	color: hsl(228, 45%, 44%);
}

.hero{
	width: 100%;
	height: 100vh;
	background-color: hsl(217, 54%, 11%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card{
	width: 350px;
	height: 590px;
	border-radius: 10px;
	background-color: hsl(216, 50%, 16%);
	padding: 10px;
	
}
.photo img{
	width: 310px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}	
h1{
	color: hsl(0, 0%, 100%);
	Font-size: 23px;
	padding-left: 10px;
	margin-bottom: 20px;
}
p{
	padding-left: 10px;
	font-size: 18px;
	color: hsl(215, 51%, 70%);
	margin-bottom: 15px;
}

.price{
	padding-left: 10px;
    padding-right: 10px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.price .eth{
	color: hsl(178, 100%, 50%);
}

.price .days{
	color: hsl(215, 51%, 70%);
	
}

.price i{
	padding-right: 5px;
}

hr{
	opacity: 0.5;
	margin-bottom: 15px;
}

.footer{
	display: flex;
	align-items: center;
	padding-left: 10px;
    padding-right: 10px;
}

.footer img{
	width: 40px;
	border: 1px solid hsl(0, 0%, 100%);
	border-radius: 50%;
}

.footer p{
	font-size: 15px;
}
.footer span{
	color: hsl(0, 0%, 100%);
}

